<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#157878">

    

    <title>锦衣盾(JXWAF)下一代web应用防火墙</title>
    <meta name="author" content="chenjc">
    
    <meta name="description" content="锦衣盾(JXWAF)是一款基于openresty(nginx+lua)开发的下一代web应用防火墙" />
     <link rel="stylesheet" href="static/style_new.css">
    <meta name="robots" content="noarchive">
  </head>


  <body>
        
            <header class="site-header" role="banner">

                    <div class="wrapper">
                            <a class="site-title" href="/">JXWAF</a>
                <nav class="site-nav" >
                        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                        <label for="nav-trigger">
                          <span class="menu-icon">
                            <svg viewBox="0 0 18 15" width="18px" height="15px">
                              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                            </svg>
                          </span>
                        </label>

                        <div class="trigger">
                                
                                  
                                  
                                    
                                    
                                  
                                
     					<a class="page-link" href="http://old.jxwaf.com/login.html">旧版登录</a>                             
                                  
                                    
                                      <a class="page-link" href="/login.html">登录</a>
                                    
                                  
                                
                                  
                                  
                                    
                                      
                                    
                                  
                                
                                  
                                  
                                
                                  
                                  
                                
                              </div>
                   
                      </nav>
                   
                        
    
                  </div>
            
                  
                    
                
                    

</header>


    
    
    

    <section class="page-header">
      <h1 class="project-name">锦衣盾</h1>
      <h2 class="project-tagline">
          <P>基于openresty(nginx+lua)开发的下一代web应用防火墙</P>
    </h2>
          <a href="https://github.com/jx-sec/jxwaf" class="btn">View on GitHub</a>
          <a href="https://github.com/jx-sec/jxwaf" class="btn">Download .zip</a>

          <a href="https://github.com/jx-sec/jxwaf" class="btn">Download .tar.gz</a>
        
 
    </section>
    <section class="main-content">
            
                  <div>
<h3>Advantage 优势</h3>

<ul><li>业务逻辑防护引擎</li><li>机器学习引擎</li><li>语义分析引擎</li></ul>

<blockquote><p>独创的业务逻辑防护引擎和机器学习引擎可以有效对业务安全风险进行防护，解决传统WAF无法对业务安全进行防护的痛点。内置的语义分析引擎配合机器学习引擎可以避免传统WAF规则叠加太多导致速度变慢的问题，同时增强检测精准性（低误报、低漏报）。</p></blockquote>

<h3>Feature 功能</h3>

<ul><li>基础攻击防护<ul><li>SQL注入攻击</li><li>XSS攻击</li><li>目录遍历漏洞</li><li>命令注入攻击</li><li>WebShell上传防护</li><li>扫描器攻击等...</li></ul></li><li>机器学习<ul><li>支持向量机(SVM)</li></ul></li><li>语义分析<ul><li>SQL注入语义分析</li><li>XSS攻击语义分析 </li></ul></li><li>业务逻辑漏洞防护<ul><li>短信炸弹防护</li><li>越权漏洞防护</li><li>短信验证码校验绕过防护等...</li></ul></li><li>高级CC攻击防护<ul><li>可针对不同URL，不同请求参数单独设置不同防护变量</li><li>人机识别</li></ul></li><li>前端参数加密防护<ul><li>支持AES加解密</li><li>支持DES加解密</li><li>支持RSA加解密</li></ul></li><li>透明部署动态口令功能<ul><li>可对后台管理系统和网站用户提供动态口令(OTP)功能 </li></ul></li><li>检测缓存功能<ul><li>对已经过WAF检测请求进行MD5缓存，提高检测效率</li></ul></li><li>支持协议<ul><li>HTTP/HTTPS </li></ul></li><li>性能&amp;可靠性<ul><li>毫秒级响应，请求处理时间小于一毫秒</li><li>支持主备部署，避免单点故障</li><li>支持集群反向代理模式部署，可处理超大数据流量</li><li>支持嵌入式部署，无需改变原有网络拓扑结构</li></ul></li><li>管理功能<ul><li>基础配置</li><li>规则配置</li><li>报表展示</li><li>告警配置</li></ul></li></ul>

            </div>
            
            
                  <footer class="site-footer">

                    <span class="my-span-icon">
                      <a href="https://github.com/jx-sec" aria-label="chenjc's GitHub" title="chenjc's GitHub">
                        <svg class="my-svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path></svg>
                      </a>
                    </span>
            

                    

                    
            
                  </footer>
                </section>



  











 
   <!-- </section>-->

    
  </body>
</html>
